/**************************************************************************************************************

    NAME
        WinAPI/Enums/X/XXX.cs

    DESCRIPTION
        XXX constants.

    AUTHOR
        Christian Vigh, 10/2012.

    HISTORY
    [Version : 1.0]    [Date : 2012/10/17]     [Author : CV]
        Initial version.

 **************************************************************************************************************/


using	System  ;
using	System. Runtime. InteropServices  ;

using   Thrak. WinAPI. WAPI ;


namespace Thrak. WinAPI. Enums
   {
	# region XXX_ constants
	/// <summary>
	/// </summary>
	public enum XXX_Constants : int
	   {
	    }
	# endregion
    }